/* Write your CSS here */

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 40px;
}
.incontent
{
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(../sju-log.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 60%;
}
.header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.header > img 
{
    width: 100px;
    height: auto;
}
.header > .title 
{
    text-align: center;
    flex-grow: 1;
}
.header > .title h1 
{
    margin: 0;
}
.header .title p 
{
    margin: 0;
    font-size: 14px;
}
.header > .address 
{
    text-align: right;
    font-size: 12px;
}
.content 
{
    margin-top: 20px;
}
.signature 
{
    margin-top: 40px;
}
.name
{
    font-size: large;
}